*{
	padding: 0;
	margin: 0;
	font-family: 'Josefin Sans', sans-serif;
	box-sizing: border-box;
}
#hero{
	height: 83vh;
	width: 100%;
	background-color: #fffbeb;
	background-size: cover;
	background-position: center;
}
nav{
    background-color: #fffbeb;
	backdrop-filter: blur(10px);
    box-shadow: inset 0 -1px 0 0 rgba(0, 0, 0, 0.1);
	position: fixed;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-top: 35px;
	padding-left: 8%;
	padding-right: 8%;
	z-index: 1;
}

.logo{
	color: #fbbf24;
	font-size: 35px;
	letter-spacing: 1px;
	cursor: pointer;
}

nav ul li{
	list-style-type: none;
	display: inline-block;
	padding: 10px  25px;
}
nav ul li a{
	color: black;
	text-decoration: none;
	font-weight: bold;
	text-transform: capitalize;
}
nav ul li a:hover{
	color: #fbbf24;
	transition: .4s;
}

#home{
	position: absolute;
	top: 50%;
	left:8%;
	transform: translateY(-50%);
}

.homeimg img{
	position: absolute;
	top: -28.5%;
	right:-30%;
	transform: translateX(90%);
}

h1{
	color: #0f172a;
	margin: 20px 0px 10px;
	font-size: 60px;
}
h3{
	color: #94a3b8;
	font-size: 25px;
	margin-bottom: 10px;
}

span{
	color: #0f172a;
	font-size: 25px;
	margin-bottom: 50px;
}

.deskripsi{
	font-size: 18px;
	color: #0f172a;
	margin-bottom: 20px;
	font-weight: normal;
}

h4{
	color: #fbbf24;
	letter-spacing: 2px;
	font-size: 20px;
}

#about{
	width: 100%;
	padding: 100px 0px;
	background-color: #ca9205;
}
.about img{
	height: auto;
	width: 430px;
}
.about-text{
	width: 550px;
}
.main{
	width: 1150px;
	max-width: 100%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
.about-text h2{
	color: white;
	font-size: 75px;
	text-transform: capitalize;
	margin-bottom: 20px;
}
.about-text h5{
	color: white;
	letter-spacing: 2px;
	font-size: 22px;
	margin-bottom: 25px;
	text-transform: capitalize;
}
.about-text p{
	color: white;
	letter-spacing: 1px;
	line-height: 28px;
	font-size: 18px;
	margin-bottom: 45px;
}
button{
	background-color:#fbbf24;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
button:hover{
	background-color: transparent;
	color: #fbbf24;
	border: 2px solid #fbbf24;
	cursor: pointer;
}

#artikel{
	background: #fffbeb;
	width: 100%;
	padding: 100px 0px;
}
.title h2{
	color: #191919;
	font-size: 75px;
	width: 1130px;
	margin: 30px auto;
	text-align: center;
}
.box{
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 400px;
}
.card{
	height: 365px;
	width: 335px;
	padding: 20px 35px;
	background: #191919;
	border-radius: 20px;
	margin: 15px;
	position: relative;
	overflow: hidden;
	text-align: center;
}
.card i{
	font-size: 50px;
	display: block;
	text-align: center;
	margin: 25px 0px;
	color: white;

}
h5{
	color: white;
	font-size: 23px;
	margin-bottom: 15px;
}
.pra p{
	color: white;
	font-size: 16px;
	line-height: 27px;
	margin-bottom: 25px;
}
.card .button{
	background-color:#ca9205;
	color: white;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
} 

.card .button:hover{
	background-color: transparent;
	color: #ebb11e;
	border: 2px solid #ebb11e;
	cursor: pointer;
}
#cv{
	width: 100%;
	height: 290px;
	background: #ca9205;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}
#cv p{
	color: white;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 25px;
}
#cv .button-two{
	background-color:white;
	color: #ca9205;
	text-decoration: none;
	border: 2px solid transparent;
	font-weight: bold;
	padding: 13px 30px;
	border-radius: 30px;
	transition: .4s; 
}
#cv .button-two:hover{
	background-color: transparent;
	color: white;
	border: 2px solid white;
	cursor: pointer;
}
footer{
	position: relative;
	width: 100%;
	height: 400px;
	background: #fffbeb;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
footer p:nth-child(1){
	font-size: 30px;
	color: #191919;
	margin-bottom: 20px;
	font-weight: bold;
}
footer p:nth-child(2){
	color: #191919;
	font-size: 17px;
	width: 500px;
	text-align: center;
	line-height: 26px;
}
#social{
	display: flex;
}
#social a{
	width: 45px;
	height: 45px;
	display: flex;
	align-items: center;
	justify-content: center;
	background: #ca9205;
	border-radius: 50%;
	margin: 22px 10px;
	color: white;
	text-decoration: none;
	font-size: 20px;
}
#social a:hover{
	transform: scale(1.3);
	transition: .3s;
}
.end{
	position: absolute;
	color: #191919;
	bottom: 75px;
	font-size: 14px; 
}